[submodule "wordpress"]
	path = wordpress
	url = git://github.com/WordPress/WordPress.git
[submodule "wp-content/plugins/buddypress"]
	path = wp-content/plugins/buddypress
	url = git://github.com/buddypress/trunk.git
[submodule "wp-content/plugins/bp-template-pack"]
	path = wp-content/plugins/bp-template-pack
	url = git://github.com/boonebgorges/bp-template-pack.git
