# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /HULA/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>

# END WordPress

# BEGIN legacy
<IfModule mod_rewrite.c>
RewriteEngine ON
RewriteRule ^kk/?(.*) http://kaimanaklassik.com [R=301,NC]
RewriteRule ^hopu/?(.*) http://hopukalewa.com [R=301,NC]
#Redirect 301 /kk	http://kaimanaklassik.com
#Redirect 301 /hopu 	http://hopukalewa.com
# END legacy
</IfModule>

# protect wp-config.php
# ref: http://wp.tutsplus.com/tutorials/security/conquering-the-wp-config-php-file-11-good-practices/
<files wp-config.php>
  order allow,deny
  deny from all
</files>
<files local-config.php>
  order allow,deny
  deny from all
</files>