vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Feb 2004 02:14:16 -0000
vti_extenderversion:SR|5.0.2.6738
vti_thicketsupportingfile:BW|true
vti_cacheddtm:TX|03 Feb 2004 02:14:16 -0000
vti_filesize:IR|8130
vti_lineageid:SR|{5F65AD7A-1099-41C6-93E6-57A7877BC848}
vti_backlinkinfo:VX|kk/kk17/KK17Seeds\\ and\\ Schedule_files/sheet001.htm kk/kk17/KK17Seeds\\ and\\ Schedule_files/sheet004.htm kk/kk17/KK17Seeds\\ and\\ Schedule_files/sheet005.htm kk/kk17/KK17Seeds\\ and\\ Schedule_files/sheet002.htm kk/kk17/KK17Seeds\\ and\\ Schedule_files/sheet003.htm
